amqp==5.2.0
asgiref
bandit==1.7.0
billiard==4.2.0
celery==5.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
cryptography==37.0.2
Django==3.1.6
django-python3-ldap==0.11.4
djangorestframework==3.14.0
fontawesome-free==5.15.2
gitdb==4.0.7
GitPython==3.1.14
idna==3.3
importlib-metadata==4.0.1
kombu==5.4.0
ldap3==2.9
lxml==4.6.2
Markdown==3.3.4
mysqlclient==2.0.3
ntlm-auth==1.5.0
pbr==5.6.0
prompt_toolkit==3.0.47
psutil==5.8.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
python-dateutil==2.9.0.post0
python-docx==0.8.10
python-dotenv==1.0.0
pytz==2021.1
PyYAML==5.4.1
requests
requests-ntlm==1.1.0
six==1.16.0
smmap==4.0.0
sqlparse==0.4.1
stevedore==3.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.7
vine==5.1.0
wcwidth==0.2.13
xlrd
zipp==3.4.1
django-celery-beat==2.5.0
djangorestframework-api-key==3.0.0
drf-yasg==1.21.7
django-cors-headers==3.11.0